.editablemarkdown {
    position: relative;
    padding-right: 45px;

    .editbutton {
        display: none;
    }
}
.editablemarkdown:hover {  
    .editbutton {
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
    }
}

.editablecontent-buttons {
    margin-top: 10px;
}