.drop-area {
  border: 1px dashed #ccc;
  padding: 2px;
  color: #FFFFFF;
  text-align: center;
  background-color: green;
}

.drop-area.drag {
  background-color: red;
}

.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
