.drop-area {
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 2px;
  line-height: 40px;
  text-align: center;
  background-color: #f0f0f0;
  line-height: 3  0px;
  label {
    margin-bottom:0px;

  }
}

.drop-area.drag {
  background-color: #00FFEC;
}

#fileElem {
  display: none;
}
