.docsheader {
    padding: 8px;

    .form-group {
        margin-bottom: 0;
    }
}

.doc-details {
    padding: 10px;
    h1 {
        font-size: medium;
        font-weight: bold;
    }
    
    .description {
        border: 1px solid #f0f0f0;
        margin-bottom: 5px;
        padding: 0px 10px;
    }

    .extra {
        float: right;

        > div {
            display: inline-block;
        }
    }
}


.doc-details {
    padding: 8px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--framework-fill-background);
    width: 100%;

    .content {
        flex: 1 1 auto;
        display: flex;
        position: relative;
        overflow: hidden;
        width: 100%;

        .main-content {
            display: flex;
            height: 100%;
            flex-direction: column;
            background-color: var(--framework-fill-base);
            position: relative;
            flex: 1 1 100%;
            min-width: 360px;
        }

        .doc-list-wrapper {
            border-top: 1px solid #f0f0f0;
        }

        .left-side {
            display: flex;
            flex-direction: column;
            width: 33%;
            overflow: hidden;
            position: relative;
            flex: 0 0 auto;
        }

         .scrollable {
            overflow: auto;
            overflow-x: hidden;
            height: 100%;
            background-color: var(--framework-fill-base);
        }
    }
}

.add-button {
    margin: 10px 0px;
}