.docsheader {
    padding: 8px;
    background-color: #f0f2f5;

    .form-group {
        margin-bottom: 0;
    }
}

.doc-title {
    padding: 10px 10px 0px 10px;

    .extra {
        float: right;

        > div {
            display: inline-block;
        }
    }

    h1 {
        font-size: medium;
        font-weight: bold;
    }
}

.doc-details {    
    .description {
        border: 1px solid #f0f0f0;
        margin-bottom: 5px;
        padding: 0px 10px;
    }
}

.doc-details {
    padding: 0px 10px;
}

.add-doc-button {
    margin: 5px 0px;
}

.no-docs {
    padding: 0px 8px;
}


.defaultdoccontainer {
    margin: auto;
    text-align: center;
}

.ant-layout-rtl {
    .doc-title {
        .extra {
            float: left;
        }
    }
}