.doc-list {
    
    .active {
        background: #e6f7ff;

        .ant-card {
            background: #e6f7ff;
        }
    }

    .ant-card-head {
        border-bottom: 0px;
    }
    
    .doc-list-item {
        cursor: pointer;
        
        &:hover {
            background: #e6f1ff;
        }
        
        .item-wrapper {
            width:100%;
            padding: 10px;
        }
        .extra {
            padding-left: 10px;
            float: right;
            text-align: right;

            .tags {
                text-align: right;
                margin-right: -8px;
            }
        }
    }
}

.ant-layout-rtl {
    .doc-list {
        .doc-list-item {
            .extra {
                padding-right: 10px;
                padding-left: auto;
                float: left;
                text-align: left;

                .tags {
                    text-align: left;
                    margin-right: auto;
                    margin-left: -8px;
                }
            }
        }
    }
}