.ant-menu.shortcuts {
    .anticon-plus-circle {
        position: absolute;
        right: 5px;
        top: 13px;
    }

    .ant-menu-submenu-title {
        display: none;
    }
}

.ahora-shurtcut-link {
    .ant-badge-rtl {
        .ant-badge-count {
            left: -15px !important;
            top: 0 !important;
        }
    }
}
