.main {
    min-height: 100vh;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .is-vcentered{
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
    }
}