
.commentTitle {
    display: flex;

    .authoranddate {
        flex: 1 1 auto;
        margin: auto;
    }

    .justifyend {
        display: flex;
    }

    .pinned {
        margin-right: 5px;
        color: green;
    }
}
