
.comment {

    border: 1px solid #f0f0f0;
    margin-bottom: 5px;
    padding: 0px 10px;

     &:hover {
        background-color: beige;

        .ant-comment-actions {
            bottom: 0px; 
            right: 5px;
            display: block;
            position: absolute;
        }
    }

    .ant-comment-actions {
        display: none;
        margin-top: 0px;
    }

    .pinned {
        margin-right: 5px;
        top: -3px;
        position: relative;
        color: green;
    }
}

.ant-layout-rtl {
    .comment {
        &:hover {
            .ant-comment-actions {
                bottom: 0px; 
                left: 5px;
                right: auto;
                display: block;
                position: absolute;
            }
        }
    }
}