.AddCommentPlaceHolder {
    height: 40px;
    line-height: 28px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    padding: 5px;

    &:hover {
        color: rgb(3, 102, 214);
    }
}

.button-container {
    text-align: right;
    margin-top: 5px;

    button {
        margin: 0px 4px;
    }

    .ant-btn-primary[disabled] {
        background-color: #246fe0;
        color: #FFFFFF;
        opacity: 0.5;
    }
}