.add-comment-container {
    background-color: #FFFFFF;

    .ant-form-item {
        margin-bottom: 5px;
    }

    .buttons {
        width: 100%;
        background-color: #F0F0F0;
        padding: 5px 2px;
        text-align: right;
        margin-bottom: 3px;
    }
}