//@import "bootstrap/dist/css/bootstrap.min.css";
@import "/assets/fonts/all.css";
@import "tags.css";
@import "github-markdown-css/github-markdown.css";
@import 'react-bootstrap-typeahead/css/Typeahead.css';
@import 'react-bootstrap-typeahead/css/Typeahead-bs4.css';

@import 'antd/dist/antd.css';

#root {
    height: 100%;
    display: flex;
}

Header * {
    color: #FFFFFF;
}

.site-layout-content {
    background-color: #FFFFFF;
}
.ant-layout-header {
    padding: 0px 25px;
}
.ant-comment-content-detail p {
    white-space: normal;
}

.navbar-menu {
    padding: 0px 10px;
}

.content-toside {
    margin: auto -10px;
}

.main-content {
    padding: 10px;
}